.file-window-container {
  display: flex;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
.file-window {
  background: #fbfbfb;
  width: 100%;
  padding: 5px;
  .folder-item {
    font-size: 12px;
    padding: 5px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 110px;
    cursor: pointer;
    &.file {
      .icon {
        color: #222;
      }
    }
    .icon {
      margin-right: 5px;
      color: #f1d592;
    }
    .name {
      display: block;
    }
  }
}
