@mixin scrollbar($width, $trackColor, $thumbColor, $thumbHoverColor) {
  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $trackColor;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumbHoverColor;
  }
}
